.mom{
  background-color: white;
    color:black;
    width:93%;
    height:50%;
    border-radius:24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}
body{
    display: flex;
    background-color:aqua;
    align-items: center;
    justify-content: center;
    
}
h1{
    color:linear-gradient(135deg,rgb(36, 123, 116),aqua); 
    text-align:center;
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;
}
h2{
    color:black; 
    text-align:center;
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
}

.form{
    background-color: white;
    
    margin-left: 17px;
    margin-right: 17px;
    font-size: 20px;
    align-items: center;
    
    
}
button{
    display:box;
    margin: 5% 10px 10px 5%;
    padding: 10px 40%;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 13px;
    
}
#name{
    width: 300px;
    border: 2PX solid black;
    border-radius:10px;
}
#email{
    width: 300px;
    border-radius:10px; border: 2PX solid black;
}
#age{
    width: 300px;
    border-radius:10px; border: 2PX solid black;
}
#question{
    width: 300px;
    padding-bottom: 30px;
    border-radius:10px; border: 2PX solid black;
    height: 10%;
}
p{margin-bottom: 6px;}