
body{
    align-items: center;
    
}
.title{
    text-align: center;
    /*border:solid 1px black;*/
    margin: 2%;
    background-color:bisque;
    padding: 1%;
    color: rgb(178, 93, 2);
    border-radius: 10px 10px 0 0;

}
.menu{
    
    align-items: center;
   /* border: solid 1px black;*/
   justify-content: center;
    margin: 2%;
    overflow: hidden;
    background-color: rgb(243, 164, 67);
    padding: 15px;
    color: rgb(249, 248, 248);
    border-radius: 0 0 10px 10px;
;
}
img{
    width: 30%;
    float: right;
    margin: 2%;
    border-radius:6px ;
}

      




